@import './assets/styles/tailwind';
@import './assets/styles/normalize';
@import './assets/styles/variables';

html,
body {
  height: 100%;

  //set default text color to an off black
  color: $black;
}

.wrap {
  max-width: 850px;
}